<h1 class="text-2xl font-bold">Listado de usuarios</h1>
<h3 class="text-lg">Total de usuarios
  <span class="text-accent">
    {{usersResource.value()?.meta?.total}}
  </span>
</h3>
<div class="divider"></div>

<div class="flex gap-2 items-center h-20">
  <app-pagination
    [pages]="usersResource.value()?.meta?.lastpage ?? 1"
    [currentPage]="paginationService.currentPage()"
  />

  <select
    class="select select-bordered w-32"
    (change)="usersPerPage.set(+selectPerPage.value)"
    #selectPerPage
  >
  <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select>
  <div class="flex flex-1"></div>


  <button class="btn btn-primary" routerLink="/services/user">
    Nuevo usuario
  </button>

</div>

<user-table [users]="usersResource.value()?.data ?? []"></user-table>
