<h1 class="text-2xl font-bold">Listado de roles</h1>
<h3 class="text-lg">Total de roles:
  <span class="text-accent">
    {{rolesResource.value()?.meta?.total}}
  </span>
</h3>
<div class="divider"></div>

<div class="flex gap-2 items-center h-20">
  <app-pagination
    [pages]="rolesResource.value()?.meta?.lastpage ?? 1"
    [currentPage]="paginationService.currentPage()"
  />

  <select
    class="select select-bordered w-32"
    (change)="rolesPerPage.set(+selectPerPage.value)"
    #selectPerPage
  >
  <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select>
  <div class="flex flex-1"></div>


  <button class="btn btn-primary" routerLink="/services/role">
    Nuevo rol
  </button>

</div>

<role-table [roles]="rolesResource.value()?.data ?? []"></role-table>
